@CHARSET "UTF-8";
a{color:#409eff}
.line{ font-size: 0px; line-height: 0px; border-top: solid 1px #ddd; float: none}
/*******************************************************************************************************************/
.radius{border-radius:4px; overflow:hidden}
.size-MINI.radius{ border-radius:3px}
.size-L.radius{ border-radius:5px}
.size-XL.radius{ border-radius:6px}

.round{border-radius:1000px; overflow:hidden}
.circle{ border-radius:50%; overflow:hidden}

.box-shadow{-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.1);box-shadow:0 1px 2px rgba(0,0,0,0.1)}
.text-shadow{-webkit-text-shadow:0 0 2px rgba(0,0,0,0.2);text-shadow:0 0 2px rgba(0,0,0,0.2)}
/*******************************************************************************************************************/
.text-lowercase {
    text-transform: lowercase;
}
.text-uppercase {
    text-transform: uppercase;
}
.text-deleted {
    text-decoration:line-through;
}
.text-underline{
    text-decoration:underline;
}
.text-red{color:#ff0000}
/*******************************************************************************************************************/
/* 首页样式 */
#toparea {
    background-color: #E4EEFF;
    background-image: linear-gradient(to bottom, #F2F5FF, #E4EEFF);
    background-repeat: repeat-x;
    border: 0;
    padding: 0;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF2F5FF',endColorstr='#FFE4EEFF',GradientType=0);
}
#topmenu{
    height: 100%;
}
#topmenu .nav-left{
    height: 100%;
}
#topmenu .nav-left h3{
    font-size: 1.2rem;
    color: #808080;
    font-style: normal;
    text-shadow: 0px 1px 1px;
    margin-bottom: 0px;
}
#topmenu .nav-right{
    height: 100%;
}
/*****************************************************************/
.tree-icon,.panel-icon,.icon-tag,.l-btn-icon,.font-icon,.menu-icon,.tabs-icon {
    text-rendering:auto;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    /*color:#d95043;*/
    color:#104E8B;
    text-align:center;
    padding-top: 2px;
    /*font-size: inherit;*/
}

.tree-file,.tree-folder-open,.tree-folder {
    background: url('') no-repeat -240px 0;
}

.icon-tag {position:relative;left:1px;}
.icon-tag:hover{font-size:18px !important;}

svg{
    vertical-align:top;
}
/**********************************************************************************************/

/*3.1.25 尺寸	新增尺寸全局类名，用于表单、按钮、表格、头像、标签等元素上，要与元素一起配合使用，方能看到效果*/
.size-MINI{}/*迷你*/
.size-S{}/*小*/
.size-M{}/*中 缺省默认尺寸，可以不写，可以理解为：均码*/
.size-L{}/*L*/
.size-XL{}/*大*/
.size-XXL{}/*加大*/
.size-XXXL{}/*超大*/

.btn.size-M{ font-size:14px; height:31px;*height:auto;line-height:1.42857;padding:4px;font-weight: bold;}/*默认为M，可以不写，可以理解为：均码*/
a.btn.size-M,span.btn.size-M{ line-height:31px}
.btn.size-M{ padding:4px 12px}

.btn.size-MINI{font-size:10px; height:23px;padding:1px 2px;line-height:1.42857}/*迷你*/
/*a.btn.size-MINI,span.btn.size-MINI{ line-height:23px}*/
.btn.size-MINI{ padding:1px 4px}

.btn.size-S{font-size:12px; height:27px;padding:3px;line-height:1.42857}/*小*/
a.btn.size-S,span.btn.size-S{ line-height:27px}
.btn.size-S{ padding:3px 8px}

.btn.size-L{font-size:16px; height:41px; padding:8px}/*大*/
a.btn.size-L,span.btn.size-L{ line-height:41px}
.btn.size-L{ padding:8px 16px}

.btn.size-XL{font-size:18px; height:48px; padding:10px}/*特大*/
a.btn.size-XL,span.btn.size-XL{ line-height:48px}
.btn.size-XL{ padding:10px 24px}

.radius{border-radius:4px}
.size-MINI.radius{ border-radius:3px}
.size-L.radius{ border-radius:5px}
.size-XL.radius{ border-radius:6px}
.round{border-radius:50%; overflow:hidden}

/************************************************************************************************/
.label{display: inline-block;padding:2px 4px;font-size: 11.844px;font-weight: bold;line-height:14px;color: #fff;white-space: nowrap;vertical-align: baseline;background-color: #999}
/*圆角*/
.label.radius{border-radius: 3px}
.label:empty{display: none}
a.label:hover, a.label:focus{color: #fff;text-decoration: none;cursor: pointer}

/*None*/
.label-none{background-color: #ffffff; color:#333}
.label-none[href]{background-color: #ffffff;color:#333}

/*默认*/
.label-default{background-color: #e6e6e6; color:#333}
.label-default[href]{background-color: #e6e6e6;color:#333}

/*主要*/
.label-primary{background-color: #5a98de}
.label-primary[href]{background-color: #5a98de}

/*主要*/
.label-secondary{background-color: #3bb4f2}
.label-secondary[href]{background-color: #3bb4f2}

/*成功*/
.label-success{background-color:#5eb95e}
.label-success[href]{background-color: #5eb95e}

/*警告*/
.label-warning{background-color: #f37b1d}
.label-warning[href]{background-color: #f37b1d}

/*危险*/
.label-danger{background-color: #dd514c}
.label-danger[href]{background-color: #dd514c}
.desc-limiter{max-height:36px;margin:10px 5px;overflow:hidden;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;}
/*****************************************************************/
.avatar{display:inline-block;position:relative; overflow:hidden}
.avatar img{ display:block}
.avatar.radius,.avatar.radius img{border-radius:50%}
.avatar,.avatar img{width:32px; height:32px}
.avatar.size-MINI{ width:16px;height:16px}
.avatar.size-S,.avatar.size-S img{width:24px; height:24px}
.avatar.size-M,.avatar.size-M img{width:32px; height:32px}/*默认为中，可以不写，可以理解为：均码*/
.avatar.size-L,.avatar.size-L img{width:40px; height:40px}
.avatar.size-XL,.avatar.size-XL img{width:64px; height:64px}
.avatar.size-XXL,.avatar.size-XXL img{width:100px; height:100px}
.avatar.size-XXXL,.avatar.size-XXXL img{width:128px; height:128px}
/************************************************************************************************/
.attach-box{
    float: left;
    overflow: hidden;
    width: 180px;
    height: 200px;
    margin: 10px 10px;
    background-color: #f5f5f5;
}
.attach-box-light{
    float: left;
    overflow: hidden;
    margin: 2px 10px 2px 0;
    padding: 1px;
    border: 1px solid #b7d2ff;
    background-color: #E0ECFF;
}
.attach-box .attach-name,.attach-box-light .attach-name{
    height: 35px;
}
.attach-box .attach-size{
    height: 15px;
}
.attach-box .attach-buttons,.attach-box-light .attach-buttons{
    height: 30px;
}
/************************************************************************************************/
.table-form{
    font-size: 14px;
    width: 100%;
    color: #333;
    border-collapse: collapse;
}
.table-form .form-caption{
    background:#eaf2ff;
    color: #333;
    font-size: 16px;
    text-align:center;
    font-weight:bold;
}
.table-form .form-tip{
    background:#eaf2ff;
    color: #333;
    font-size: 14px;
    display:table-cell; 
    vertical-align:middle;
    text-align: center;
}
.table-form th,.table-form td{
    border: 1px solid #dddddd;
}
.table-form .field-label{
    padding-left: 5px;
    background-color: #f5f5f5;
}
.table-form .field-input{
    padding-left: 5px;
}
.table-form .field-value{
    padding-left: 5px;
}
.table-easyui, .table-easyui>td, .table-easyui>th {
    background-color: #eaf2ff;
}
/******************************************************************/
/******selector******/
/******tags******/
.i-act-btn,.qt-tag-label {
    position: relative;
    display: inline-block;
    margin: 0 4px 4px 0;
    padding: 2px 20px 2px 4px;
    text-decoration: none;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    background: #eaf2ff;
    color: #000000;
}
.qt-plug-selector-remove,.qt-tag-remove,.qt-tag-add,.qt-tag-tag {
    background: url(../../img/tagbox_icons.png) no-repeat -16px center;
    position: absolute;
    display: block;
    width: 16px;
    height: 16px;
    right: 2px;
    top: 50%;
    margin-top: -8px;
    opacity: 0.6;
    filter: alpha(opacity=60);
}
.qt-tag-add {background: url(../../img/tagbox_add.png) no-repeat center;}
.qt-tag-tag {background: url(../../img/tagbox_tag.png) no-repeat center;}
.qt-plug-selector-preview .i-act-btn,.qt-tagger-preview .qt-tag-label{display: inline-block;float: none;margin-bottom: 0;}
.selector-readonly .i-act-btn{padding-right: 4px;}
.highcharts-strong {font-weight: bold;}
.textbox-label{width:auto}
.l-btn-icon{font-size:16px;padding-top:0}

/********************************适用easyui linkbutton的按钮组**********************************************************/
.buttongroup{
    display: inline-block;
    margin: 0;
    padding: 0;
    overflow: hidden;
    vertical-align: middle;
}
.buttongroup .l-btn{
    float: left;
    margin-left: -1px;
}
.buttongroup .l-btn:last-child::after{
    content: '';
    clear: both;
}
.buttongroup .l-btn:not(:first-child):not(:last-child){
    border-radius: 0;
}
.buttongroup .l-btn:first-child{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-left: 0;
}
.buttongroup .l-btn:last-child{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.buttongroup-justified{
    display: table;
    table-layout: fixed;
}
.buttongroup-justified .l-btn{
    float: none;
    display: table-cell;
}
.loader{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../../img/loading.gif') 50% 50% no-repeat rgb(249,249,249);
}
.datagrid-search-form-container{
	padding: 1px;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
}
.datagrid-search-form-box{
	margin: 1px 10px 1px 0;
}
.form-container{
    height: 100%;
}
.form-container .form-body{
    height: calc(100% - 3rem);
    overflow-x: hidden;
    overflow-y: auto;
    padding: 5px;
    overflow-x: auto;
}
.form-container .form-toolbar{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    height: 3rem;
    border-color: #95B8E7;
    background: #F4F4F4;
    border-width: 1px 0 0 0;
    border-style: solid;
    padding: 5px;
}
/****************************Datagrid toolbar************************************************/
.datagrid-toolbar-search-form{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
}
.datagrid-toolbar-search-form .datagrid-toolbar-search-form-fields>span,
.datagrid-toolbar-search-form .datagrid-toolbar-search-form-fields>input,
.datagrid-toolbar-search-form .datagrid-toolbar-search-form-btns>a{
    margin-top: 2px;
    margin-bottom: 2px;
}
/*dashboard*/
.dashboard .info-box {
    display: inline-block;
    width: 20%;
    max-width: 300px;
    min-width: 200px;
    height: 75%;
    max-height: 150px;
    margin: 10px;
    padding: 10px;
    color: white;
    -webkit-box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.35), 0 3px 1px -1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.35), 0 3px 1px -1px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.35), 0 3px 1px -1px rgba(0, 0, 0, 0.1);
}

.dashboard .info-box i {
    display: block;
    line-height: 100px;
    text-align: center;
    margin-right: 10px;
    padding-right: 10px;
    color: rgba(255, 255, 255, 0.75);
}

.dashboard .info-box .count {
    margin-top: -10px;
    font-size: 25px;
    font-weight: 700;
}

.dashboard .info-box .title {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
}

.dashboard .info-box .sub-title {
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 10px;
}

.dashboard .info-box .desc {
    margin-top: 10px;
    font-size: 12px;
}

.dashboard .info-box.danger {
    background: #ff5454;
    border: 1px solid #ff2121;
}

.dashboard .info-box.warning {
    background: #fabb3d;
    border: 1px solid #f9aa0b;
}

.dashboard .info-box.primary {
    background: #20a8d8;
    border: 1px solid #1985ac;
}

.dashboard .info-box.info {
    background: #67c2ef;
    border: 1px solid #39afea;
}

.dashboard .info-box.success {
    background: #79c447;
    border: 1px solid #61a434;
}

.dashboard .main-bg {
    background: #e6e8ea;
}

.dashboard .white-bg {
    color: #768399;
    background: #fff;
    background-color: #fff;
}

.dashboard .red-bg {
    color: #fff;
    background: #d95043;
    background-color: #d95043;
}

.dashboard .blue-bg {
    color: #fff;
    background: #57889c;
    background-color: #57889c;
}

.dashboard .green-bg {
    color: #fff;
    background: #26c281;
    background-color: #26c281;
}

.dashboard .greenLight-bg {
    color: #71843f;
    background: #71843f;
    background-color: #71843f;
}

.dashboard .yellow-bg {
    color: #fff;
    background: #fc6;
    background-color: #fc6;
}

.dashboard .orange-bg {
    color: #fff;
    background: #f4b162;
    background-color: #f4b162;
}

.dashboard .purple-bg {
    color: #fff;
    background: #af91e1;
    background-color: #af91e1;
}

.dashboard .pink-bg {
    color: #fff;
    background: #f78db8;
    background-color: #f78db8;
}

.dashboard .lime-bg {
    color: #fff;
    background: #a8db43;
    background-color: #a8db43;
}

.dashboard .magenta-bg {
    color: #fff;
    background: #e65097;
    background-color: #e65097;
}

.dashboard .teal-bg {
    color: #fff;
    background: #97d3c5;
    background-color: #97d3c5;
}

.dashboard .brown-bg {
    color: #fff;
    background: #d1b993;
    background-color: #d1b993;
}

.dashboard .gray-bg {
    color: #768399;
    background: #e4e9eb;
    background-color: #e4e9eb;
}

.dashboard .dark-bg {
    color: #fff;
    background: #79859b;
    background-color: #79859b;
}
.search-submit .l-btn-text, .search-submit .l-btn-icon{
	color:#fff;
}
.search-submit,.search-submit:hover{
	color: #fff;
	border-color: #3c8b3c;
	background: #4cae4c;
	background: -webkit-linear-gradient(top,#4cae4c 0,#449d44 100%);
	background: -moz-linear-gradient(top,#4cae4c 0,#449d44 100%);
	background: -o-linear-gradient(top,#4cae4c 0,#449d44 100%);
	background: linear-gradient(to bottom,#4cae4c 0,#449d44 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4cae4c,endColorstr=#449d44,GradientType=0);
}
a.search-submit:hover{
	background: #449d44;
	filter: none;
}

.search-reset .l-btn-text, .search-reset .l-btn-icon{
	color:#fff;
}
.search-reset,.search-reset:hover{
	color: #fff;
	border-color: #5f5f5f;
	background: #747474;
	background: -webkit-linear-gradient(top,#747474 0,#676767 100%);
	background: -moz-linear-gradient(top,#747474 0,#676767 100%);
	background: -o-linear-gradient(top,#747474 0,#676767 100%);
	background: linear-gradient(to bottom,#747474 0,#676767 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#747474,endColorstr=#676767,GradientType=0);
}
a.search-reset:hover{
	background: #676767;
	filter: none;
}

#loader-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    background: #fff;
    opacity: 1;
    filter: Alpha(opacity=60);
    z-index: 9999
}

#loader-animation {
	display: inline-block;
	position: relative;
	left: 50%;
	top: 50%;
	width: 150px;
	height: 150px;
	margin: -75px 0 0 -75px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: yellow;
	-webkit-animation: spin 1.5s infinite;
	animation: spin 1.5s infinite;
}

#loader-animation:before {
	content: "";
	position: absolute;
	top: 5px;
	left:5px;
	right: 5px;
	bottom: 5px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: orange;
	-webkit-animation: spin 1.5s infinite;
	animation: spin 1.5s infinite;
}

#loader-animation:after {
	content: "";
	position: absolute;
	top: 15px;
	left:15px;
	right: 15px;
	bottom: 15px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: red;
	-webkit-animation: spin 1.5s infinite;
	animation: spin 1.5s infinite;
}

@-webkit-keyframes spin {
	0%   {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(360deg);}
}
@keyframes spin {
	0%   {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}

.table-tr-caption{
    font-size: 16px;
    background-color: #E0ECFF;
    /* text-align: center; */
    font-weight: 700!important;
    color: #808080;
    text-shadow: 1px 1px 0 #fff;
    padding-left: 10px;
}
.center-block{
    margin-left: auto;
    margin-right: auto;
}

.info-box {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.125), 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 0.25rem;
    background-color: #fff;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1rem;
    min-height: 80px;
    padding: .5rem;
    position: relative;
    width: 100%;
  }
  
  .info-box .progress {
    background-color: rgba(0, 0, 0, 0.125);
    height: 2px;
    margin: 5px 0;
  }
  
  .info-box .progress .progress-bar {
    background-color: #fff;
  }
  
  .info-box .info-box-icon {
    border-radius: 0.25rem;
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.875rem;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    width: 70px;
  }
  
  .info-box .info-box-icon > img {
    max-width: 100%;
  }
  
  .info-box .info-box-content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    line-height: 1.8;
    -ms-flex: 1;
    flex: 1;
    padding: 0 10px;
    overflow: hidden;
  }
  
  .info-box .info-box-number {
    display: block;
    margin-top: .25rem;
    font-weight: 700;
  }
  
  .info-box .progress-description,
  .info-box .info-box-text {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .info-box.bg-primary,
  .info-box.bg-gradient-primary {
    color: #fff;
  }
  
  .info-box.bg-primary .progress-bar,
  .info-box.bg-gradient-primary .progress-bar {
    background-color: #fff;
  }
  
  .info-box.bg-secondary,
  .info-box.bg-gradient-secondary {
    color: #fff;
  }
  
  .info-box.bg-secondary .progress-bar,
  .info-box.bg-gradient-secondary .progress-bar {
    background-color: #fff;
  }
  
  .info-box.bg-success,
  .info-box.bg-gradient-success {
    color: #fff;
  }
  
  .info-box.bg-success .progress-bar,
  .info-box.bg-gradient-success .progress-bar {
    background-color: #fff;
  }
  
  .info-box.bg-info,
  .info-box.bg-gradient-info {
    color: #fff;
  }
  
  .info-box.bg-info .progress-bar,
  .info-box.bg-gradient-info .progress-bar {
    background-color: #fff;
  }
  
  .info-box.bg-warning,
  .info-box.bg-gradient-warning {
    color: #1f2d3d;
  }
  
  .info-box.bg-warning .progress-bar,
  .info-box.bg-gradient-warning .progress-bar {
    background-color: #1f2d3d;
  }
  
  .info-box.bg-danger,
  .info-box.bg-gradient-danger {
    color: #fff;
  }
  
  .info-box.bg-danger .progress-bar,
  .info-box.bg-gradient-danger .progress-bar {
    background-color: #fff;
  }
  
  .info-box.bg-light,
  .info-box.bg-gradient-light {
    color: #1f2d3d;
  }
  
  .info-box.bg-light .progress-bar,
  .info-box.bg-gradient-light .progress-bar {
    background-color: #1f2d3d;
  }
  
  .info-box.bg-dark,
  .info-box.bg-gradient-dark {
    color: #fff;
  }
  
  .info-box.bg-dark .progress-bar,
  .info-box.bg-gradient-dark .progress-bar {
    background-color: #fff;
  }
  
  .info-box .info-box-more {
    display: block;
  }
  
  .info-box .progress-description {
    margin: 0;
  }
/**********************card***********************/
  .card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
  }
  .card {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.125), 0 1px 3px rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;
  }
.table-bordered {
    border: 1px solid #95B8E7;
}
.table-bordered td, .table-bordered th {
    border: 1px solid #95B8E7;
}